stages:
  - prepare
  - contract-deploy
  - helper-update
  - contract-init
  - artifacts

prepare:
  stage: prepare
  script:
    - docker rm $(docker ps -a | grep {{ CI_COMMIT_TAG }} | cut -d ' ' -f1) || echo "nothing to do"
  tags:
    - docker

{% for network in networks %}
{{ network }}.deploy:
  stage: contract-deploy
  before_script:
    - docker login -u ${DOCKER_REGISTRY_USER_NAME} -p ${DOCKER_REGISTRY_USER_PASSWORD} registry.digiu.ai
  script:
    - echo "it will be launched {{ action }}"
    - echo "for this networks {{ network }}"
    - docker run -t --name deploy-{{ network }}-{{ CI_COMMIT_TAG }} -v /var/lib/gitlab-runner/contracts/{{ path }}/wrappers:/app/wrappers -v /var/lib/gitlab-runner/contracts/{{ path }}:/contracts -v $(pwd):/app --user builder --add-host=mumbai.testnet.eywa.fi:10.1.0.21 --add-host=huobi.testnet.eywa.fi:10.1.0.21 --add-host=rinkeby.testnet.eywa.fi:10.1.0.21 --add-host=bsc.testnet.eywa.fi:10.1.0.21 -e NETWORKS={{ network }} {{ eywa_base_image }}:{{ eywa_base_tag }} make -C /app "{{ action }}"
    - docker rm deploy-{{ network }}
  tags:
    - docker

{{ network }}.init:
  stage: contract-init
  script:
    - echo "init"
    - docker run -t --name init-{{ network }}-{{ CI_COMMIT_TAG }} -v /var/lib/gitlab-runner/contracts/{{ path }}/wrappers:/app/wrappers -v /var/lib/gitlab-runner/contracts/{{ path }}:/contracts -v $(pwd):/app --user builder --add-host=mumbai.testnet.eywa.fi:10.1.0.21 --add-host=huobi.testnet.eywa.fi:10.1.0.21 --add-host=rinkeby.testnet.eywa.fi:10.1.0.21 --add-host=bsc.testnet.eywa.fi:10.1.0.21 -e NETWORKS={{ network }} {{ eywa_base_image }}:{{ eywa_base_tag }} make -C /app "eth-testnet-init"
    - docker rm init-{{ network }}
  tags:
    - docker
  when: manual
  needs:
    - {{ network }}.deploy
{% endfor %}

helper.update:
  stage: helper-update
  script:
    - echo "it will be launched {{ action }}"
    - echo "for this networks {{ network }}"
    - docker run --name update-helper -t -v /var/lib/gitlab-runner/contracts/{{ path }}/wrappers:/app/wrappers -v /var/lib/gitlab-runner/contracts/{{ path }}:/contracts -v $(pwd):/app --user builder --add-host=mumbai.testnet.eywa.fi:10.1.0.21 --add-host=huobi.testnet.eywa.fi:10.1.0.21 --add-host=rinkeby.testnet.eywa.fi:10.1.0.21 --add-host=bsc.testnet.eywa.fi:10.1.0.21 -e CI_COMMIT_TAG={{ CI_COMMIT_TAG }} {{ eywa_base_image }}:{{ eywa_base_tag }} python3 /app/.scripts/render_helper.py
    - docker rm update-helper
  tags:
    - docker
  needs:
{%- for network in networks %}
    - {{ network }}.deploy
{%- endfor %}

artifacts:
  stage: artifacts
  before_script:
    - docker login -u ${DOCKER_REGISTRY_USER_NAME} -p ${DOCKER_REGISTRY_USER_PASSWORD} registry.digiu.ai
  script:
    - echo "get artifacts"
    - mkdir ./artifacts/
    - cp -r /var/lib/gitlab-runner/contracts/{{ path }}/* ./artifacts/
    - docker build -t registry.digiu.ai/eywa-contracts/wrappers -f docker/Dockerfile-wrappers .
    - docker push registry.digiu.ai/eywa-contracts/wrappers
    - docker rmi registry.digiu.ai/eywa-contracts/wrappers
  tags:
    - docker
  artifacts:
    paths:
      - ./artifacts/
  needs:
{%- for network in networks %}
    - {{ network }}.init
{%- endfor %}
