stages:
  - contract-deploy
  - contract-init
  - artifacts

{% for network in networks %}
{{ network }}.deploy:
  stage: contract-deploy
  before_script:
    - docker login -u ${DOCKER_REGISTRY_USER_NAME} -p ${DOCKER_REGISTRY_USER_PASSWORD} registry.digiu.ai
  script:
    - echo "it will be launched {{ action }}"
    - echo "for this networks {{ network }}"
    - docker run -t -v /var/lib/gitlab-runner/contracts/:/contracts -v $(pwd):/app --user builder --add-host=mumbai.testnet.eywa.fi:10.1.0.21 --add-host=huobi.testnet.eywa.fi:10.1.0.21 --add-host=rinkeby.testnet.eywa.fi:10.1.0.21 --add-host=bsc.testnet.eywa.fi:10.1.0.21 -e NETWORKS={{ network }} {{ eywa_base_image }}:{{ eywa_base_tag }} make -C /app "{{ action }}"
  tags:
    - docker

{{ network }}.init:
  stage: contract-init
  script:
    - docker run -t -v /var/lib/gitlab-runner/contracts/:/contracts -v $(pwd):/app --user builder --add-host=mumbai.testnet.eywa.fi:10.1.0.21 --add-host=huobi.testnet.eywa.fi:10.1.0.21 --add-host=rinkeby.testnet.eywa.fi:10.1.0.21 --add-host=bsc.testnet.eywa.fi:10.1.0.21 -e NETWORKS={{ network }} -w /app/hardhat {{ eywa_base_image }}:{{ eywa_base_tag }} bash -c "./scripts/init.sh {{ network }}"
  tags:
    - docker
  when: manual
  needs:
    - {{ network }}.deploy
{% endfor %}

artifacts:
  stage: artifacts
  script:
    - echo "get artifacts"
  tags:
    - docker
  artifacts:
    paths:
      - /var/lib/gitlab-runner/contracts
  needs:
{% for network in networks %}
    - {{ network }}.init
{% endfor %}
