stages:
  - contract-deploy
  - helper-update
  - contract-init

{% for network in networks %}
{{ network }}.deploy:
  stage: contract-deploy
  before_script:
    - docker login -u ${DOCKER_REGISTRY_USER_NAME} -p ${DOCKER_REGISTRY_USER_PASSWORD} registry.digiu.ai
  script:
    - echo "it will be launched {{ action }}"
    - echo "for this networks {{ network }}"
#    - docker run -t -v /var/lib/gitlab-runner/contracts/:/contracts -v $(pwd):/app --user builder --add-host=mumbai.testnet.eywa.fi:10.1.0.21 --add-host=huobi.testnet.eywa.fi:10.1.0.21 --add-host=rinkeby.testnet.eywa.fi:10.1.0.21 --add-host=bsc.testnet.eywa.fi:10.1.0.21 -e NETWORKS={{ network }} registry.digiu.ai/base/eywa-contracts:4 make -C /app "{{ action }}"
#    - docker run -t --rm -v $(pwd):/app --user builder --add-host=mumbai.testnet.eywa.fi:10.1.0.21 --add-host=huobi.testnet.eywa.fi:10.1.0.21 --add-host=rinkeby.testnet.eywa.fi:10.1.0.21 --add-host=bsc.testnet.eywa.fi:10.1.0.21 -e NETWORKS={{ network }} registry.digiu.ai/base/eywa-contracts:4 make -C /app "{{ action }}"
  tags:
    - docker

{{ network }}.init:
  stage: contract-init
  script:
    - cd hardhat;./scripts/init.sh {{ network }}
  tags:
    - docker
  when: manual
{% endfor %}

helper.update:
  stage: helper-update
  script:
    - echo "it will be launched {{ action }}"
    - echo "for this networks {{ network }}"
    - docker run -t -v /var/lib/gitlab-runner/contracts/:/contracts -v $(pwd):/app --user builder --add-host=mumbai.testnet.eywa.fi:10.1.0.21 --add-host=huobi.testnet.eywa.fi:10.1.0.21 --add-host=rinkeby.testnet.eywa.fi:10.1.0.21 --add-host=bsc.testnet.eywa.fi:10.1.0.21 -e NETWORKS={{ networks }} registry.digiu.ai/base/eywa-contracts:4 python3 /app/.scripts/render_helper.py
  tags:
    - docker
